body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin: 0 auto 10px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.message-area {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.message {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.hint {
    padding: 0 40px;
}

.hint span {
    font-weight: bold;
}

.hint-button { 
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 8px;
    margin-bottom: 10px;
}

.share-button {
    background-color: lightsteelblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 10px;
}

.board,
.keyboard {
    width: 100%;
}

.keyboard {
    margin-top: 10px;
}

.board-row,
.keyboard-row {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    border: 1px solid gray;
    margin: 2px;
}

.keyboard-row:not(:last-child) {
    margin-bottom: 5px;
}
.letter {
    flex: 1;
    height: 50px;
    background-color: lightgray;
    color: black;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    padding: 0 4px;
    margin: 0 3px;
}

.spacer--half {
    flex: 0.5;
}

.spacer--one-and-one-half {
    flex: 1.5;
}

.box.yellow,
.letter.yellow {
    background-color: gold;
    color: white;
}

.box.green,
.letter.green {
    background-color: green;
    color: white;
}

.box.gray,
.letter.gray {
    background-color: gray;
    color: white;
}

@media (min-width: 768px) {
    .keyboard {
        margin-top: 20px;
    }
}